<section id="fh5co-about" data-section="about">
	<div class="container">
        <div class="row">
            <div class="col-md-8 section-heading text-center">
                <h2 class="to-animate">About</h2>
                <div class="text-left">
                    <h3 class="to-animate"><strong>What is CUSEC?</strong></h3>
                    <p class="to-animate">
                        CUSEC brings together passionate students from across Canada. Meet like-minded peers, learn from
                        world-renowned experts and discover career opportunities with exciting companies.
                    </p>
                    <p class="to-animate">
                        In 2002, CUSEC was formed by a group of inspired individuals who were dedicated to connecting students
                        that share a passion for software. After 15 years, the CUSEC organizing team have only become stronger. As
                        a student run non-profit organization, CUSEC allows for hundreds of students from all across Canada to come
                        together to talk, learn, and have fun. The team is committed to continuously encouraging and engaging more
                        and more students.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="background-image: url({{ "/assets/images/cusec_2016.jpg" | prepend: site.url }});">
        </div>
    </div>
</section>
