<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Dhiren Audich <dhiren@audich.net>">
    <meta name="keywords" content="cusec, software engineering, computer science, 2017, undergraduate, conference, montreal" />
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:description" content="{{ site.description }}"/>
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <meta name="twitter:card" content="" />

    <!-- Animate.css -->
    <link href="{{ "/assets/css/animate.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Icomoon Icon Fonts-->
    <link href="{{ "/assets/css/icomoon.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Simple Line Icons -->
    <link href="{{ "/assets/css/simple-line-icons.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Bootstrap  -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Modernizr JS -->
    <script src="{{ "/js/modernizr-2.6.2.min.js" | prepend: site.baseurl }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
</head>
