<section id="fh5co-intro">
	<div class="container">
		<div class="row row-bottom-padded-lg">
			<div class="fh5co-block to-animate" style="background-image: url({{ "/assets/images/img_7.jpg" | prepend: site.url }});">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon icon-bolt"></i>
					<h2>Lightning Talks</h2>
					<p>Share your ideas and thoughts on a topic of your choosing with the rest of the conference. For 5 mins you are the oracle.</p>
					<p><a href="#" class="btn btn-primary">Show your Spark</a></p>
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-image: url({{ "/assets/images/img_8.jpg" | prepend: site.url }});">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon icon-pied-piper-alt"></i>
					<h2>Demo Camp</h2>
					<p>Are you the next PiedPiper&trade; who is Mo-Lo-So? This is your chance to show everyone what you or your team have been working on!</p>
					<p><a href="#" class="btn btn-primary">Impress the World</a></p>
				</div>
			</div>
			<div class="fh5co-block to-animate" style="background-image: url({{ "/assets/images/img_10.jpg" | prepend: site.url }});">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon icon-rocket"></i>
					<h2>Resume Upload</h2>
					<p>Send your resume to all our sponsors all in one click! To participate in the Resume Roast, you should also submit your resume here.</p>
					<p><a href="#" class="btn btn-primary">Launch your Career</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
