<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{"/" | prepend: site.baseurl }}" data-nav-section="home"><span>Home</span></a></li>
                    <li><a href="{{"/schedule/" | prepend: site.baseurl }}" data-nav-section="schedule"><span>Schedule</span></a></li>
                    <li><a href="{{"/speakers/" | prepend: site.baseurl }}" data-nav-section="speakers"><span>Speakers</span></a></li>
                    <li><a href="{{"/sponsors/" | prepend: site.baseurl }}" data-nav-section="sponsors"><span>Sponsors</span></a></li>
                    <li><a href="{{"/venue/" | prepend: site.baseurl }}" data-nav-section="venue"><span>Venue</span></a></li>
                    <li><a href="{{"/contact/" | prepend: site.baseurl }}" data-nav-section="contact"><span>Contact</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
