<section id="fh5co-venue" data-section="venue">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Venue</h2>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 to-animate text-center">
                        <address>
                            <h3 class="to-animate">
                                Hotel Bonaventure Montréal<br />
                                900 De La Gauchetiere W<br />
                                H5A 1E4, Montréal, QC Canada<br />
                            </h3>
                            <h3 class="to-animate">
                                For booking information, contact your <a href="/schools/">Head Delegate</a> or send an e-mail to <a href="mailto:#">info@cusec.net</a>.
                            </h3>
                        </address>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div id="map" class="to-animate"></div>
</section>
