$brand-primary: #ff6138 !default;
$brand-secondary: #002F2F !default;

// $brand-white: #fff;
// $brand-white: #EFECCA;
// $brand-white: #E6E2AF;
$brand-white: #FCFAE1;
$brand-black: #000;
// $brand-darker: #444;
$brand-darker: #A7A37E;
$brand-gray: #ccc;
// $brand-lighter: #e9e9e9;
$brand-lighter: #EFECCA;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;
$brand-red: rgb(231, 76, 60);

$input-border-focus:  $brand-primary !default;
